server:
  port: 8080

spring:
  application:
    name: auth-service

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope:
              - user:email

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

logging:
  level:
    org.hibernate.SQL: debug
#    org.springframework.security: DEBUG

app:
  otp:
    expiry-minutes: ${OTP_EXPIRY_MINUTES:10} # minutes
    resend-cooldown-seconds: ${OTP_RESEND_COOLDOWN:180} # seconds

  cookie:
    secure: ${COOKIE_SECURE:false}
    same-site: ${COOKIE_SAME_SITE:Lax}

    refresh:
      name: ${REFRESH_COOKIE_NAME:refreshToken}
      max-age-days: ${REFRESH_COOKIE_MAX_AGE_DAYS:7}

    device:
      name: ${DEVICE_COOKIE_NAME:deviceId}
      max-age-days: ${DEVICE_COOKIE_MAX_AGE_DAYS:365}

  jwt:
    secret: ${JWT_SECRET}
    access-token-expiration: 900000      # 15 minutes (ms)
    refresh-token-expiration: 604800000   # 7 days (ms)

